$main-black: #06090E;
$black-container-secundary: #181A20;
$black-font: #171D26;
$black-font-secundary: #171D26;

$main-white: #FFFFFF;
$white-secundary: #F5F7FA;
$white-font: #F3F4F6;

$main-gray: #6B7280;
$gray-secundary: #A1ABB9;
$gray-font: #AAB1BD;
$gray-footer: #8E97A8;

$dark-border: #242A32;
$light-border: #DEE4ED;
